/* Payment.css */

.payment {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.payment_container {
    display: flex;
    flex-direction: column;
}

.payment__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.payment__title {
    font-weight: 800;
    margin-bottom: 10px;
}

.payment__address {
    margin-bottom: 10px;
}

.payment__item {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.payment__details {
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.payment__button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.payment__button:hover {
    background-color: #ff9900;
    border-color: #a4762f #846a29 #7a5c24;
}